.container {
  padding-top: 50px;
  /*margin-left: 50px;*/
  float: inherit;
  width: 90%;
}

.form-horizontal {
  width: 100%;
}

input[type="text"] {
  height: 25px;
}

.navbar .nav > li > a {
  color: #000000;
}

.form-horizontal .control-label {
  text-align: left;
}