body {
  background: #f7fbfa;
}
.header .header-image {
  background: url("../images/images.jpeg") no-repeat;
  width: 275px;
  background-size: 100% 100%;
  height: 91px;
  margin: 0px;
}
.header .heading {
  background: #0265a9;
  position: relative;
  padding: 16px 0 0 30px;
  height: 56px;
  color: #f7fbfa;
  font-size: 40px;
  margin: 0px;
  height: 91px;
  text-shadow: 1px 1px black;
}
.header .heading:before {
  position: absolute;
  content: "";
  left: -48px;
  border-right: 46px solid #f7fbfa;
  top: 0px;
  border-top: 45px solid transparent;
  border-bottom: 46px solid transparent;
}
.header .heading:after {
  position: absolute;
  content: "";
  left: -46px;
  border-right: 46px solid #0265a9;
  top: 0px;
  border-top: 45px solid transparent;
  border-bottom: 46px solid transparent;
}
.header .nav li {
  margin: 10px 0px 0px 10px;
}
.header .nav li a:hover,
.header .nav li a:active {
  color: #f7fbfa;
  background: #0265a9;
}
.header .nav li.active a {
  color: #f7fbfa;
  background: #0265a9;
}
.content {
  margin-top: 10px;
}
.content .form-horizontal {
  margin: 20px;
}
.footer {
  position: absolute;
  bottom: 0px;
  width: 100%;
  background: #0265a9;
  padding: 5px;
  text-align: center;
  color: #f7fbfa;
}
